<!doctype html>
	<style>
	h1 {text-align: center;}
	h2 {text-align: center;}
	p {text-align: center;}
	form {text-align: center;}
	title {text-align: center;}
	</style>
    <title>Upload new File</title>

    <h1 style="background-color:Red;">Welcome to Adobe Code Challenge</h1>
    <h2 > Submitted by Saurabh Singh</h2>


    <h1 text-align: center;>Upload new File</h1>
    <form action="" method=post enctype=multipart/form-data>
      <p><input type=file name=file>
       <p><input type=submit value=Upload>
    </form>